body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #555;
}

button {
  background-color: #1752db;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#currentMessage:empty::before {
  content: 'Loading...';
  color: #777;
}

#error-message {
  color: #ff0000;
}
